.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
}

.form__input {
    color: $lightgrey;
    border: none;
    border-bottom: 1px solid $grey;
    margin-bottom: 26px;
    background-color: $darkblue;

    &:active {
        border: none;
        border-bottom: 1px solid $blue;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.form__btn {
    background-color: $blue;
    border-radius: 5px;
    padding: 11px 39px;
    font-size: 15px;
    text-transform: uppercase;
}