.messages {
  background-color: $black;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  flex: 1;
}

.messages__item {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;

  &--first .messages__img {
    display: block;
  }
  
  &--first .messages__name {
    display: block;
  }

  &--right {
    align-self: flex-end;
    flex-direction: row-reverse;
  }

  &--right .messages_content {
    background-color: $msgblueright;
  }
}

.messages__name {
  display: none;
  margin-right: 10px;
  margin-left: 10px;
}

.messages__img-wrap {
  width: 35px;
  height: 35px;
}

.messages__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: none;
}

.messages_content {
  background-color: $msgblueleft;
  border-radius: 6px;
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  padding: 7px;
  align-items: center;
}
.messages__text {
    margin-right: 15px;

}

.messages__time {
    color: $grey;
}